<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/save-subcategory}" th:object="${subcategory}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="name">Subcategory Name</label>
        <input id="name" type="text" th:field="*{name}">
        <label for="category">Budget</label>
        <select id="category" th:field="*{category}">
            <option th:value="${categoryId}"></option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>